*{
    padding: 0px;
    margin: 0px;
}


.banner{
    display: grid;
    background-color:#4267B2;
    grid-template-columns: 70% 10% 10% 5% 5%;
    grid-template-rows: 95px;
    
}

.banner div{
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    
}
#item1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-end; 
    height: 100%;
    font-size: 14px;
    
    
}

#itemm1{
    background-color: white;
    width: 130px;
}
#item2{
    display: flex;
    background-color: #28437b;
    width: 1;
    margin-left: 20px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    
    
}

#logo{
    text-align: center;
    margin-left: 100px;
    justify-content: left;
    display: flex;
    width: auto;
    
    height: auto;
}


#fondo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "columna1 columna2"; 
    height: 80vh; 
}

#columna1 {
    grid-area: columna1; 
    height: 70px;
    font-size:45px;
    font-family: Helvetica, sans-serif;
    padding: 30px;
    color: #142d5f;
}

#columna2 {
    grid-area: columna2; 
    padding: 30px;
    height: 80vh;
    
    
}
#mapa{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    height: 300px;
}

#lado-extra1 {
    height: 70px;
    color: #142d5f;
    grid-area: lado-extra; 
    padding-left:150px;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 45px;
}
#lado-extra2 {
    height: 70px;
    color: #142d5f;
    font-family: Helvetica, sans-serif;
    padding-left:150px;
    font-size: 40px;
}

.fondo2 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%   ;

}

#fondoORD{
    margin-top: 25px;
    text-align: end;
    color: #28437b;
    margin: 10px;

}

#fondoCUAD{
    margin: 10px;
    border: 1px solid black;

}

.birth{
    display: flex;
    margin : 10px;
    margin-right: 10000px;
    
    

}
.birth-div{
    color: white;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    
}
#itembirt1 {
    flex: 1;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    margin-right: 90px;
}
#itembirt2 {
    flex: 1;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    margin-right: 90px;
}
#itembirt3 {
    flex: 1;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    margin-right: 90px;
       
}
#fondoABA{
    display: grid;
    grid-template-columns: 100%;
     
}

#columnaABA1 {
    height: 70px;
    font-size:20px;
    color: #142d5f;
    text-align: left;
}

#separacion{
    margin-left: 100px;
}

#footer{
    display: grid;
    grid-template-columns: 40% 50%;
}

#footer1{
    margin-left: 130px;
    color: #002164;
    font-family: Helvetica, sans-serif;
}

#footer2{
    color: gray;
    font-family: Helvetica, sans-serif;
}