*{
    padding: 0px;
    margin: 0px;
}


.banner{
    display: grid;
    background-color:#4267B2;
    grid-template-columns: 70% 10% 10% 5% 5%;
    grid-template-rows: 100px;
}

.banner div{
    color: white;
    justify-content: center;
    text-align: center;
    
}
#item1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-end; 
    height: 100%;
}


#logo{
    text-align: center;
    margin-left: 100px;
    justify-content: left;
    display: flex;
    width: auto;
    height: auto;
}